.card-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  position: relative;
  overflow-y: auto;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.card-page .card-content {
  display: flex;
  flex-direction: row; /* Image and details in a row */
  align-items: flex-start; /* Align items to the top */
  width: 100%; /* Take full width within card-page */
}

.card-page .card-image {
  max-width: 200px; /* Smaller image width */
  margin-right: 20px; /* Space between image and details */
  margin-bottom: 0;
}

.card-page h2 {
  text-align: left; /* Align heading to the left */
}

.card-details p {
  margin-bottom: 5px;
}

.card-add-to-deck-button {
  margin-top: 20px; /* Add margin above the button */
  align-self: center; /* Center button below details */
}
